.navbar {
    background-color: #17594A;
    height: 100px;
}

nav {
    margin-bottom: 25pxpx;
}

body {
    background-color: #D3D04F;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

footer {
    background-color: #17594A;
    height: 200px;
    padding-top: 20px;
    margin-top: 25px;
    position: relative;
    width: 100%;
    bottom: 0;
}

.container{
    margin-top: 35px;
    margin-bottom: 35px;
}

.form {
    background-color: #D3D04F;
    border: none;
}

.ml-5 {
    padding: 12px;
    margin-bottom: 25px;
}

.btn {
    background-color: #213363;
    color: #D3D04F;
    font-weight: bolder;
    margin-left: 2vw;
    margin-right: 2vw;
    padding: 12px;
}

.btn:hover {
    transform: scale(1.1);
    color: #D3D04F;
    background-color: #213363;
}

#nav-gombok {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    list-style-type: none;
}

#login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
}

#logokep {
    display: flex;
    height: 80px;
    background-color: #17594A;
}

#fooldalkep {
    width: 30vw;
}

.gyik {
    background-color: #D3D04F;
}

.inputMezo {
    width: 100%;
    margin-left: 16vw;
}

.profilkep {
    width: 500px;
}

#visszaBtn {
    margin-left: 42%;
    width: 200px;
}

.card-body {
    background-color: #F3F2AF;
}